body {
	font-family: 'Roboto', sans-serif;
	color: white;
	background-color: black;
}

#pattern {
	fill:none;
	stroke-width:0.5px;
	stroke:#ddd;
}

#pattern svg {
	width: 80%;
}

#pattern_0_container {
	stroke:#ddd;
	opacity: 0.5;
}

#pattern .grouppattern {
	fill:none;
	stroke-width:1.5px;
	stroke:#0024ff;
}

#temppattern {
	display:none;
}

#patternbuilder {
	margin-top:30px;
}

.buildertitle {
	font-size:2em;
}

.measuretitle {
	font-size:1.25em;
}

.measure {
	margin-top:30px;
}

.infocontainer {
	margin-top:30px;
}

.measurevalue {
	padding-left:15px;
	font-size:1.25em;
}

button {
	color:#ffffff;
	background-color:#0024ff;
	border-width:0px;
	font-size:1.5em;
	border-radius:5px;
	margin:5px;
}

#downloadlink {
	font-size:1.5em;
}

p {
	font-size:1.5em;
}

#downloadlink a {
	color:black;
	text-decoration: underline;
}

.slider {
   accent-color: #999;
}

#layplan {
	margin-top: 30px;
}

#layplan img {
	border : 1px solid #fff
}